*{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	overflow-y: visible;
}
h1{
	font: 'Source Sans Pro';
	font-weight: 900;
	font-size: 20pt;
	color: #27B45A;
}
h2{
	font-size: 20pt;
	font-weight: 900;
	color: #020703;
}
p{
	font-size: 16pt;
	font-weight: 400;
	color: #020703;
}
#img{
	position: relative;
  	text-align: center;
}
h3{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-weight: 900;
	font-size: 24pt;
	color: white;
}
header{
	padding: 8px 8%;
	display: flex;
	justify-content: space-between;
}
#bod{
	padding: 8px 8%;
	display: flex;
}
#par1, #par2{
	width: 50vw;
	padding-top: 16px;
	padding-left: 8px;
}
#par3{
	text-align: center;
	padding-top: 16px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer{
	text-align: center;
	position: fixed;
    bottom: 16px;
    width: 100vw;
}
@media screen and (max-width: 800px){
	header{
		padding: 8px;
	}
	#bod{
		display: block;
		padding: 8px;
	}
	#par1, #par2{
		width: 100%;
		padding-right: 16px;
	}
	#par3{
		text-align: left;
		padding-left: 16px;
		padding-top: 8px;
	}
	footer{
		position:inherit;
		padding-bottom: 8px;
	}
}
@media screen and (max-height: 800px){
	footer{
		position:inherit;
		padding-bottom: 8px;
		padding-top: 16px;
	}
}
