*{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
	overflow-y: visible;
}
h1{
	font: 'Source Sans Pro';
	font-weight: 900;
	font-size: 20pt;
	color: #27B45A;
}
h2{
	font-size: 20pt;
	font-weight: 900;
	color: #27B45A;
	padding-top: 43px;
}
img{
	padding: 0;
}
p,ul{
	font-size: 16pt;
	font-weight: 400;
	color: #020703;
}
ul{
	list-style-position: inside;
  	list-style-image: url(../images/bullet.png);
	overflow: hidden;
}
#img{
	position: relative;
  	text-align: center;
}
h3{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-weight: 900;
	font-size: 24pt;
	color: white;
}
header{
	padding: 8px 8%;
	display: flex;
	justify-content: space-between;
}
#bod1,#bod2{
	padding: 8px 8%;
	display: flex;
}
#par1, #par2, #par3, #par4{
	width: 50vw;
	padding-top: 16px;
	padding-left: 8px;
	overflow: hidden;
}
footer{
	text-align: center;
	position: fixed;
    bottom: 16px;
    width: 100vw;
}
@media screen and (max-width: 900px){
	header{
		padding: 8px;
		display: block;
	}
	h2{
		padding-top: 8px;
	}
	#bod1,#bod2{
		display: block;
		padding: 8px;
	}
	#par1, #par2,#par3,#par4{
		width: 100%;
		padding-right: 16px;
	}
	footer{
		position:inherit;
		padding-top: 16px;
		padding-bottom: 8px;
	}
}
@media screen and (max-height: 900px){
	footer{
		position:inherit;
		padding-bottom: 8px;
		padding-top: 16px;
	}
}
